<ng-template #myDialog>
  <h2 MatDialogTitle>{{selectedPerson | titlecase}} Demographic Details</h2>
  <hr>
  <mat-dialog-content MatDialogContent>
    <div class="container">
      <div class="inner-container">
        <div>Age : </div>
        <div>Gender:</div>
        <div>Marital Status:</div>
        <div>Education:</div>
      </div>
      <div class="inner-container">
        <div>{{demographicDetails.age}}</div>
        <div>{{demographicDetails.gender}}</div>
        <div>{{demographicDetails.maritalStatus}}</div>
        <div>{{demographicDetails.education}}</div>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions class="dialog-actions">
    <button mat-button mat-dialog-close mat-raised-button color="primary">Ok</button>
  </mat-dialog-actions>
</ng-template>

<div class="header">
  <div>Adventure Works</div>
  <hr>
</div>

<div class="table-container" *ngIf="personDetails.length>0">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" >
  
    <ng-container matColumnDef="FirstName">
      <th mat-header-cell *matHeaderCellDef> First Name </th>
      <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
    </ng-container>
  
    <ng-container matColumnDef="LastName">
      <th mat-header-cell *matHeaderCellDef> Last Name </th>
      <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
    </ng-container>
  
    <ng-container matColumnDef="EmailAddress">
      <th mat-header-cell *matHeaderCellDef > Email Address </th>
      <td mat-cell *matCellDef="let element"> {{element.emailAddress}} </td>
    </ng-container>
  
    <ng-container matColumnDef="PhoneNumber">
      <th mat-header-cell *matHeaderCellDef> Mobile Number </th>
      <td mat-cell *matCellDef="let element"> {{element.phoneNumber}} </td>
    </ng-container>
  
    <ng-container matColumnDef="Address">
      <th mat-header-cell *matHeaderCellDef > Address </th>
      <td mat-cell *matCellDef="let element" style="text-align: start;"> {{element.address}} </td>
    </ng-container>
  
    <ng-container matColumnDef="Demographic">
      <th mat-header-cell *matHeaderCellDef style="width:150px"> Demographic Details </th>
      <td mat-cell *matCellDef="let element">
        <button mat-button (click)="openDialog(element,myDialog)" color="primary" mat-raised-button>Details</button>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator
            [length]="recordsLength" class="paginator"
              [pageSize]="recordsPerPage" (page)="onPaginationChange($event)">
    </mat-paginator>
</div>
<div *ngIf="personDetails.length<=0" class="no-records">
  <div>No records found.</div>
</div>